h1{
    margin:0px;
    padding:0px;
    height: 5rem;
    line-height: 5rem;
    border-radius: 10px;
    color:white;
    background-color:#001429 ;
    text-align:center;
    text-decoration:underline;
}
.choices{
    display:flex;
    justify-content: center;
    justify-content: space-around; 
}
.choice{
    height: 330px;
    width: 330px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
img{
    height:300px;
    width: auto;
    object-fit: cover;
    border-radius: 50%;
    gap:100pxpx;
}
.choice:hover{ 
    cursor: pointer;
    background-color: black;
}
.score-board{
    display:flex;
    justify-content: center;
}
.score{
    height:50px;
    margin:70px;
}
p{
    text-align: center;
    font-size:x-large;
}
b{
    font-size:large;
}
.message{
    display:flex;
    justify-content: center;

}

#msg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    height: 100px;
    width:300px;
    background-color:green;
}